<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.feh.dao.HerosStarsMapper">
  <resultMap id="BaseResultMap" type="org.feh.model.HerosStars">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="heros_id" jdbcType="INTEGER" property="herosId" />
    <result column="stars" jdbcType="BIT" property="stars" />
    <result column="character" jdbcType="VARCHAR" property="character" />
  </resultMap>
  <sql id="Base_Column_List">
    id, heros_id, stars, character
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from heros_stars
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from heros_stars
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.feh.model.HerosStars">
    insert into heros_stars (id, heros_id, stars, 
      character)
    values (#{id,jdbcType=INTEGER}, #{herosId,jdbcType=INTEGER}, #{stars,jdbcType=BIT}, 
      #{character,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.feh.model.HerosStars">
    insert into heros_stars
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="herosId != null">
        heros_id,
      </if>
      <if test="stars != null">
        stars,
      </if>
      <if test="character != null">
        character,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="herosId != null">
        #{herosId,jdbcType=INTEGER},
      </if>
      <if test="stars != null">
        #{stars,jdbcType=BIT},
      </if>
      <if test="character != null">
        #{character,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.feh.model.HerosStars">
    update heros_stars
    <set>
      <if test="herosId != null">
        heros_id = #{herosId,jdbcType=INTEGER},
      </if>
      <if test="stars != null">
        stars = #{stars,jdbcType=BIT},
      </if>
      <if test="character != null">
        character = #{character,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.feh.model.HerosStars">
    update heros_stars
    set heros_id = #{herosId,jdbcType=INTEGER},
      stars = #{stars,jdbcType=BIT},
      character = #{character,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>