<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.feh.dao.ScheduledExecutorTaskMapper">
	<resultMap id="BaseResultMap" type="org.feh.model.ScheduledExecutorTask">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="clazz" jdbcType="VARCHAR" property="clazz" />
		<result column="first_h" jdbcType="INTEGER" property="firstH" />
		<result column="first_m" jdbcType="INTEGER" property="firstM" />
		<result column="first_s" jdbcType="INTEGER" property="firstS" />
		<result column="cycle_h" jdbcType="INTEGER" property="cycleH" />
		<result column="cycle_m" jdbcType="INTEGER" property="cycleM" />
		<result column="cycle_s" jdbcType="INTEGER" property="cycleS" />
		<result column="enable" jdbcType="BIT" property="enable" />
	</resultMap>
	<sql id="Base_Column_List">
		id, clazz, first_h, first_m, first_s, cycle_h, cycle_m, cycle_s, enable
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from scheduled_executor_task
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from scheduled_executor_task
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="org.feh.model.ScheduledExecutorTask">
		insert into scheduled_executor_task (id, clazz, first_h,
		first_m, first_s, cycle_h,
		cycle_m, cycle_s, enable)
		values (#{id,jdbcType=INTEGER}, #{clazz,jdbcType=VARCHAR}, #{firstH,jdbcType=INTEGER},
		#{firstM,jdbcType=INTEGER}, #{firstS,jdbcType=INTEGER}, #{cycleH,jdbcType=INTEGER},
		#{cycleM,jdbcType=INTEGER}, #{cycleS,jdbcType=INTEGER}, #{enable,jdbcType=BIT})
	</insert>
	<insert id="insertSelective" parameterType="org.feh.model.ScheduledExecutorTask">
		insert into scheduled_executor_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="clazz != null">
				clazz,
			</if>
			<if test="firstH != null">
				first_h,
			</if>
			<if test="firstM != null">
				first_m,
			</if>
			<if test="firstS != null">
				first_s,
			</if>
			<if test="cycleH != null">
				cycle_h,
			</if>
			<if test="cycleM != null">
				cycle_m,
			</if>
			<if test="cycleS != null">
				cycle_s,
			</if>
			<if test="enable != null">
				enable,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="clazz != null">
				#{clazz,jdbcType=VARCHAR},
			</if>
			<if test="firstH != null">
				#{firstH,jdbcType=INTEGER},
			</if>
			<if test="firstM != null">
				#{firstM,jdbcType=INTEGER},
			</if>
			<if test="firstS != null">
				#{firstS,jdbcType=INTEGER},
			</if>
			<if test="cycleH != null">
				#{cycleH,jdbcType=INTEGER},
			</if>
			<if test="cycleM != null">
				#{cycleM,jdbcType=INTEGER},
			</if>
			<if test="cycleS != null">
				#{cycleS,jdbcType=INTEGER},
			</if>
			<if test="enable != null">
				#{enable,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.feh.model.ScheduledExecutorTask">
		update scheduled_executor_task
		<set>
			<if test="clazz != null">
				clazz = #{clazz,jdbcType=VARCHAR},
			</if>
			<if test="firstH != null">
				first_h = #{firstH,jdbcType=INTEGER},
			</if>
			<if test="firstM != null">
				first_m = #{firstM,jdbcType=INTEGER},
			</if>
			<if test="firstS != null">
				first_s = #{firstS,jdbcType=INTEGER},
			</if>
			<if test="cycleH != null">
				cycle_h = #{cycleH,jdbcType=INTEGER},
			</if>
			<if test="cycleM != null">
				cycle_m = #{cycleM,jdbcType=INTEGER},
			</if>
			<if test="cycleS != null">
				cycle_s = #{cycleS,jdbcType=INTEGER},
			</if>
			<if test="enable != null">
				enable = #{enable,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.feh.model.ScheduledExecutorTask">
		update scheduled_executor_task
		set clazz = #{clazz,jdbcType=VARCHAR},
		first_h = #{firstH,jdbcType=INTEGER},
		first_m = #{firstM,jdbcType=INTEGER},
		first_s = #{firstS,jdbcType=INTEGER},
		cycle_h = #{cycleH,jdbcType=INTEGER},
		cycle_m = #{cycleM,jdbcType=INTEGER},
		cycle_s = #{cycleS,jdbcType=INTEGER},
		enable = #{enable,jdbcType=BIT}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="findAllClazzNotNull" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from scheduled_executor_task
		where enable = true and clazz != '' and clazz is not null
	</select>
	<select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from scheduled_executor_task
	</select>
	
</mapper>