<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.feh.dao.SkillDescriptionMapper">
  <resultMap id="BaseResultMap" type="org.feh.model.SkillDescription">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="skill_id" jdbcType="INTEGER" property="skillId" />
    <result column="description_cn" jdbcType="VARCHAR" property="descriptionCn" />
    <result column="description_jp" jdbcType="VARCHAR" property="descriptionJp" />
    <result column="description_en" jdbcType="VARCHAR" property="descriptionEn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, skill_id, description_cn, description_jp, description_en
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from skill_description
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from skill_description
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.feh.model.SkillDescription">
    insert into skill_description (id, skill_id, description_cn, 
      description_jp, description_en)
    values (#{id,jdbcType=INTEGER}, #{skillId,jdbcType=INTEGER}, #{descriptionCn,jdbcType=VARCHAR}, 
      #{descriptionJp,jdbcType=VARCHAR}, #{descriptionEn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.feh.model.SkillDescription">
    insert into skill_description
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skillId != null">
        skill_id,
      </if>
      <if test="descriptionCn != null">
        description_cn,
      </if>
      <if test="descriptionJp != null">
        description_jp,
      </if>
      <if test="descriptionEn != null">
        description_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="skillId != null">
        #{skillId,jdbcType=INTEGER},
      </if>
      <if test="descriptionCn != null">
        #{descriptionCn,jdbcType=VARCHAR},
      </if>
      <if test="descriptionJp != null">
        #{descriptionJp,jdbcType=VARCHAR},
      </if>
      <if test="descriptionEn != null">
        #{descriptionEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.feh.model.SkillDescription">
    update skill_description
    <set>
      <if test="skillId != null">
        skill_id = #{skillId,jdbcType=INTEGER},
      </if>
      <if test="descriptionCn != null">
        description_cn = #{descriptionCn,jdbcType=VARCHAR},
      </if>
      <if test="descriptionJp != null">
        description_jp = #{descriptionJp,jdbcType=VARCHAR},
      </if>
      <if test="descriptionEn != null">
        description_en = #{descriptionEn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.feh.model.SkillDescription">
    update skill_description
    set skill_id = #{skillId,jdbcType=INTEGER},
      description_cn = #{descriptionCn,jdbcType=VARCHAR},
      description_jp = #{descriptionJp,jdbcType=VARCHAR},
      description_en = #{descriptionEn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>